.accordion__section {
  display: flex;
  flex-direction: column;

  width: 80%;
  margin: 0 auto;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 0.8rem;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
  border-radius: 20px;
  margin-bottom: var(--mb-3);
  margin-top: var(--mb-3);
}

.accordion:hover,
.active {
  background-color: #ccc;
}

.accordion__title {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

.rotate {
  transform: rotate(90deg);
}

.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: var(--dark-color);
  font-size: 1rem;
  margin-left: 10px;
  padding: 4px;
}
