.portfolio {
  &__container {
    justify-items: center;
    row-gap: 2rem;
  }

  &__img {
    position: relative;
    overflow: hidden;
    max-width: 400px;
    max-height: 400px;

    img {
      border-radius: 0.5rem;
      width: 100%;
      object-fit: cover;
    }
  }

  &__link {
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(24, 18, 18, 0.3);
    border-radius: 0.5rem;
    cursor: pointer;
    backdrop-filter: blur(10px);
    transform: 0.5s;
  }

  &__card-container {
    background-color: var(--white-color);
    padding: 10px;
    border-radius: 20px;
  }
  &__card {
    color: var(--white-color);
    font-size: 1rem;
    padding: 1rem;
  }

  &__link-name {
    color: var(--white-color);
    font-size: 0.8rem;
    margin-top: 1rem;

    &:hover {
      color: #cfd2d5;
    }
  }
}

.portfolio__img:hover .portfolio__link {
  bottom: 0;
}
